@media only screen and (max-width: 1024px) {

    .main-img {}

    .menu {

        padding-left: 1.5%;
        padding-right: 1.5%;
    }

    .content {
        padding-left: 1.5%;
        padding-right: 1.5%;
    }

    .grid {
        gap: 1.5%;
    }

    .grid-feature {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5%;
    }

    .container-left {
        padding-left: 4%;
    }

    .container-right {
        padding-right: 4%;
    }

    .header-title {
        font-size: 24px;

    }


    .bigger {
        font-size: 44px;
    }

    .content-margin {
        margin-bottom: 2%;
    }

}

@media only screen and (max-width: 768px) {

    .main-img {

        width: 100%;
    }

    .container {
        width: 95%;
    }

    .container-right {
        padding-right: 0;
    }


    .container-left {
        padding-left: 4%;
    }

    .container-right {
        padding-right: 4%;
    }

    .grid {

        display: block;


    }

    .grid-feature {

        display: flex;
        flex-direction: column;
        gap: 16px
    }

    .main-img {
        display: none;
    }

    .top {
        min-height: 375px;
        position: relative;
        margin-bottom: 10%;
    }

    .fa-user {
        display: none;
    }

    .fa-cart-shopping {
        display: none;
    }

    .container-header {
        text-align: left;
        padding-right: 0px;

        position: absolute;


        top: 50%;
        left: 10%;
    }

    .header-title {
        font-size: 20px;
    }

    .bigger {
        font-size: 38px;
    }

    .center-card {
        margin-bottom: 3%;
        height: 100%;
    }

    .item-big {
        display: none;
    }

    .item_menu_4 {
        background-image: url('img/menu_accesor.svg');
        background-size: cover;
        background-position: center;
        height: 6vh;
    }

    .center {
        margin-top: 10%;
        margin-bottom: 10%;
    }
}