* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: black;

    padding-top: 20px;
    padding-bottom: 20px;

}

.nav_icon-color {
    color: #E8E8E8;
    display: flex;
    align-items: center;
    font-size: 32px;
    font-size: 23px;

}

.container-left {
    display: flex;
    padding-left: 18%;
    gap: 25%;
    justify-content: flex-start;
}

.container-right {

    padding-right: 18%;
    display: flex;
    gap: 25%;
    justify-content: flex-end;
}

.container-right {}

.color-pink {
    background-color: #F1E4E6;
    max-width: 1600px;
    margin: 0 auto;
}

.header-title {
    border-left: 12px solid;
    border-color: #F16D7F;
    padding-left: 2%;
    font-size: 32px;
    font-family: "Lato", sans-serif;

}

.container {

    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    width: 100%;
    max-width: 1600px;
}

.main-img {
    width: 100%;
    max-width: 50%;
}

.bigger {
    font-size: 48px;
}

.container-header {
    display: flex;
    align-items: center;

    padding-right: 20%;
}

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.item-img {
    width: 100%;

}

.item-big {
    width: 100%;
    max-width: 1600px;
}

.menu {
    padding-top: 3%;
    padding-bottom: 3%;
    max-width: 1600px;
    margin: 0 auto;
}

.grid {

    display: grid;

    grid-template-columns: repeat(3, 1fr);
    gap: 2%;


}

.grid-feature {

    display: grid;

    grid-template-columns: repeat(3, 1fr);
    gap: 2%;


}

.item_menu_1 {

    grid-row: 1;
}

.item_menu_2 {

    grid-row: 1;

}

.item_menu_3 {

    grid-row: 1;

}

.item_menu_4 {
    grid-column: 1 / span 3;
    grid-row: 2;

}

.text-centered {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    font-size: 16px;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "Lato", sans-serif;
}

.content {
    max-width: 1600px;
    margin: 0 auto;
}

.center-card {
    position: relative;
    width: 100%;
}

.content-font {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    text-align: center;
    color: #9F9F9F;
}


.content-font-card {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    text-align: left;
    color: #9F9F9F;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 2%;
}

.content-font-card-price {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    text-align: left;
    color: #F16D7F;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 2%;
}

.content-font-card-header {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    text-align: left;
    color: #000000;
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 2%;
}

.item_content1 {
    background-color: #F8F8F8;
    position: relative;
}

.item_content2 {
    background-color: #F8F8F8;
}

.item_content3 {
    background-color: #F8F8F8;
}

.item_content4 {
    background-color: #F8F8F8;
}

.item_content5 {
    background-color: #F8F8F8;
}

.item_content6 {
    background-color: #F8F8F8;
}


.footer {
    width: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.button {
    text-decoration: none;
    padding: 1rem 2rem;
    border: 1px solid;
    color: #F26376;
    font-size: 16px;

    margin-bottom: 60px;
    transition: all 0.3s;

}

.button:hover {
    color: white;
    background-color: #F25822;
    border: 1px solid darkorange;
}

.content-margin {
    margin-top: 2%;
    margin-bottom: 2%;
}

.item-img:hover {
    filter: brightness(50%);
    transition: all 0.3s;

}

